/* Felt That font from MyFonts */
@import url('https://hello.myfonts.net/count/32214f');
@import url('fontawesome-all.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400|Roboto+Slab:400');
@font-face {
  font-family: 'FeltThat';
  src: url('/webfonts/32214F_0_0.eot');
  src: url('/webfonts/32214F_0_0.eot?#iefix') format('embedded-opentype'),
    url('/webfonts/32214F_0_0.woff2') format('woff2'),
    url('/webfonts/32214F_0_0.woff') format('woff'),
    url('/webfonts/32214F_0_0.ttf') format('truetype');
}

:root {
  font-size: 18px;
}

#header > header img.avatar {
  margin-bottom: 0.25rem;
  margin-top: 0.5rem;
}

.major h2,
#logo {
  font-family: 'FeltThat';
  line-height: 1;
}

#main header.major h2 + p {
  font-family: 'Roboto Slab';
  font-size: 1.3rem;
}

#one header.major h2 {
  font-size: 5em;
  font-weight: normal;
  margin-bottom: 1rem;
}

#main h3 {
  color: #4ba39c;
  font-family: 'Roboto Slab';
}

#main h4 {
  color: #4ba39c;
  font-family: 'Roboto Slab';
}

#main h5 {
  font-size: 0.9rem;
}

#main p {
  font-size: 0.9rem;
  line-height: 1.6;
}

#main p small {
  font-size: 0.8rem;
}

.button .fas {
  margin-right: 5px;
  display: inline-block;
}

ul.feature-icons li {
  font-size: 0.9rem;
}

#main ul.feature-icons li:before {
  background: #8ccc62;
}

#main .features article .image img {
  border: 2px solid #f1efee;
}

@media screen and (max-width: 1024px) {
  #titleBar {
    background: #4ba39c !important;
  }
  #titleBar img {
    display: none !important;
  }

  .button.small,
  .button.alt {
    padding: 0 1rem;
    margin-bottom: 0.5rem;
  }

  #main h4 {
    font-size: 1.1rem;
  }
  #main header.major h2 + p {
    font-family: 'Roboto Slab';
    font-size: 1.3rem;
  }

  #main p,
  #main li {
    font-size: 1rem;
    line-height: 1.6;
  }
}
@media screen and (min-width: 1024px) {
  #main p {
    font-size: 1rem;
    line-height: 1.6;
  }
}
